<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

  <!--Main contents-->
  <main class="container">
    <div class="row, rounded-50">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4">Hi! I'm JiHyeok Kim</h1>
          <h2 class="display-4">Welcome to my <%= title %> Page</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6">
        <h3 class="display-6">:) I'm Second year third semester student at Centennial College, majoring in Software Engineering Technichan.</h3>
        <h3 class="display-6">I'm always here for you to help</h3>        
        <h3 class="display-6">So, Plz do not hesitate to contact me.</h3>
        <h3 class="display-6">^~^</h3>
        <hr class="my-4">
      </div>
    </div>

    <!-- Additional Contents here~ -->

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  






