<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<ul class="nav justify-content-end">
    <li class="nav-item">
      
    </li>
   
</ul>


  <!--Main contents-->
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="card mb-3" style="width: 40rem;">
            <img src="/Assets/images/ProfilePic.jpg" class="rounded" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mb-3" style="width: 40rem;">
            <img src="/Assets/images/ProfilePic.jpg" class="rounded" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mb-3" style="width: 40rem;">
            <img src="/Assets/images/ProfilePic.jpg" class="rounded" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>    
    </div>
    <p></p>>

    <!-- Additional Contents here~ -->

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  













