<!-- File Name : Assignment1 -->
<!-- Student's Name : JiHyeok Kim -->
<!-- StudentID : 301105279 -->
<!-- Date : 10/8/2020 -->



<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<ul class="nav justify-content-end">
    <li class="nav-item">
      
    </li>
   
</ul>


  <!--Main contents-->
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
        </div>
      </div>
    </div>

    
    <div class="row">
        <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
            <img src="/Assets/images/webdesign2.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title">Web design</h5>
              <p class="card-text"><small class="text-muted">Tool : Visual Studio Code</small></p>
              <p class="card-text"><small class="text-muted">I have a few years experience in designing the practical and noticeable websites.</small></p>
              <p class="card-text"><small class="text-muted">I do my best for providing my clients with everything they need to run a manageable website</small></p>
              <p class="card-text"><small class="text-muted">Give your idea, So I will make it.</small></p>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
          <img src="/Assets/images/python.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
          <div class="card-body">
            <h5 class="card-title">Python programming</h5>
            <p class="card-text"><small class="text-muted">Framework : Django, Pyramid </small></p>
            <p class="card-text"><small class="text-muted">Data analytics Tool : Pandas for Scientific and Numeric Computing</small></p>
            <p class="card-text"><small class="text-muted">It's also great option for web development</small></p>
          </div>
      </div>
    </div>

  <div class="row">
    <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
        <img src="/Assets/images/csharp.png" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">C# programming</h5>
          <p class="card-text"><small class="text-muted">Tool : Visual Studio 2019</small></p>
          <p class="card-text"><small class="text-muted">Graphical User Interface(GUI) : Windows Forms</small></p>
          <p class="card-text"><small class="text-muted">I will provide an easier interface for you to run successful applications.</small></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
  </div>


    

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  













