<!-- File Name : Assignment2 -->
<!-- Student's Name : JiHyeok Kim -->
<!-- StudentID : 301105279 -->
<!-- Date : 10/23/2020 -->


<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

  <!--Main contents-->
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <div class="my-5 rounded-pill title-background" >
        <br>
        <h1 id="font-title" class="display-4 text-center"><%= title %> <i class="fas fa-scroll"> </i></h1>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
        
          <div class="row justify-content-md-center">
            <div class="card" style="width: 34rem;">
                <img src="/Assets/images/ProfilePic.jpg" class="figure-img img-fluid rounded" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">JiHyeok Kim(Jay)</h5>
                  <p class="card-text">With outbreak of Corona, I hope you and your family members stay safe. :)</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">JiHyeok Kim</li>
                  <li class="list-group-item">301105279</li>
                  <li class="list-group-item">Centennial College</li>
                  <li class="list-group-item">Software Engineering Technichan</li>
                  <li class="list-group-item">COMP229 – Web Application Development(Sec.03)</li>
                </ul>
                <div class="card-body">
                  <a href="/Assets/pdf/Canada resume.pdf" class="card-link">Resume</a>
                </div>
           </div>
        
          </div>
      </div>
    </div>
    
    
<p></p>>
    <!-- Additional Contents here~ -->

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  






