<!-- File Name : Assignment1 -->
<!-- Student's Name : JiHyeok Kim -->
<!-- StudentID : 301105279 -->
<!-- Date : 10/8/2020 -->


<!-- If you want to embed the ejs, you can use syntax like <include-%> -->
<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

  <!--Main contents-->
  <main class="container">
    
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="my-5 rounded-pill title-background" >
          <br>
          <h1 id="font-title" class="display-4 text-center"><%= title %> <i class="fas fa-scroll"> </i></h1>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
    
      
        
      
    
        <!-- Subcontents here~ -->
    <div class="row justify-content-md-center">
      <div class="col-10">

        <hr class="my-4">
        <ul class="list-group, width:100px">
          <li class="list-group-item"><i class="fas fa-laptop-medical"></i></i>I'm Second year third semester student at Centennial College, majoring in <mark>Software Engineering Technichan.</mark></li>
          <li class="list-group-item"><i class="fas fa-smile-wink"></i> I'm always here for you to help</li>
          <li class="list-group-item"><i class="fas fa-phone-volume"></i> So, Plz do not hesitate to <a href="/contact">contact</a> me. </li>
        </ul>
        
        <hr class="my-4">
        <ul class="list-group, width:100px">
          <li class="list-group-item active, lg"><i class="fas fa-desktop"></i> My Mission Statement 
            <br>: I'm here to help and achieve your successful online business.</li>
        </ul>

      </div>
    </div>
    <p></p>



  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  






