<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<ul class="nav justify-content-end">
    <li class="nav-item">
      
    </li>
   
</ul>


  <!--Main contents-->
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
        </div>
      </div>
    </div>

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  













