<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<ul class="nav justify-content-end">
    <li class="nav-item">
      
    </li>
   
</ul>


  <!--Main contents-->
  <main class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row">
        <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
            <img src="/Assets/images/webdesign.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title">Web Application design</h5>
              <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, labore? Voluptatem corrupti odit fugiat accusamus minus eius repudiandae nisi, modi cupiditate sapiente sunt id obcaecati praesentium at temporibus quo vero.</small></p>
              <p class="card-text"><small class="text-muted"></small></p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
          <img src="/Assets/images/python.jpg" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
          <div class="card-body">
            <h5 class="card-title">Python programming</h5>
            <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, labore? Voluptatem corrupti odit fugiat accusamus minus eius repudiandae nisi, modi cupiditate sapiente sunt id obcaecati praesentium at temporibus quo vero.</small></p>
            <p class="card-text"><small class="text-muted"></small></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
      </div>
    </div>

  <div class="row">
    <div class="card mb-3 mx-auto d-block" style="width: 40rem;">
        <img src="/Assets/images/csharp.png" class="rounded" class="card-img-top" alt="..." style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">C# programming</h5>
          <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, labore? Voluptatem corrupti odit fugiat accusamus minus eius repudiandae nisi, modi cupiditate sapiente sunt id obcaecati praesentium at temporibus quo vero.</small></p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
  </div>


    <!-- Additional Contents here~ -->

  </main> 


<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %>

  













