<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
	<div class="jumbotron">
		<h1 class="display-4">Business Contact list</h1>
		<hr class="my-4">
	</div>
	<div class="row">
		<div class="col-mid-offset-3 col-md-8">
			<h1><%= title %></h1>
			<% if(typeof displayName == 'string' && displayName){ %>
				<a href="/business-list/add" class="btn btn-primary" role="button">
				<i class="fas fa-plus-circle"></i> Add a Book</a>
			<% } %>
			<hr>
			<table class="table table-bordered table-striped table-hover">
				<thead class="thead-dark">
				<tr><!-- Header Row -->
					<th class="text-center">Contact Name</th>
					<th class="text-center">Contact Number</th>
					<th class="text-center">Email Address</th>
					<% if(typeof displayName == 'string' && displayName){ %>
						<th class="text-center"></th>
						<th class="text-center"></th>
					<% } %>
				</tr>
				</thead>
					
				<!-- Repeatable Template Row -->
				<% for(let count=0; count<BusinessList.length; count++) { %>
					<tr>
						<td class="text-center"><%= BusinessList[count].name %></td>
						<td class="text-center"><%= BusinessList[count].number %></td>
						<td class="text-center"><%= BusinessList[count].email %></td>
						<% if(typeof displayName == 'string' && displayName){ %>
							<th class="text-center col-1">
								<a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
								<i class="fas fa-pencil-alt"></i> Edit</a>
							</th>
							<th class="text-center col-1">
								<a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
								<i class="fas fa-trash-alt"></i> Delete</a>
							</th>
						<% } %>
					</tr>
				<% } %>  
			</table>
		</div>
	</div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>